[submodule "bsc/hub_reader/lib/forge-std"]
	path = bsc/hub_reader/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stargate/lib/forge-std"]
	path = stargate/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
