[submodule "bsc/hub_reader/lib/forge-std"]
	path = bsc/hub_reader/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stargate/lib/forge-std"]
	path = stargate/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stargate/lib/openzeppelin-contracts"]
	path = stargate/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "stargate/lib/layerzero-v2"]
	path = stargate/lib/layerzero-v2
	url = https://github.com/LayerZero-Labs/layerzero-v2
[submodule "stargate/lib/stargate-v2"]
	path = stargate/lib/stargate-v2
	url = https://github.com/stargate-protocol/stargate-v2
